@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,200;1,300&display=swap');


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

body{
    font-size: 11px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

a, h1, h2, h3, h4, h5, h6{
    font-weight: 700;
    font-size: 1.5em; /* em significa que o texto vai ser multiplicado pelo valor inicial - nesse caso 11px -> 1px*1.5=16.5px */
}

a{
    color: #fff;
    text-decoration: none;
}

.site{
    max-width: 1200px; /* largura max de 1200px */
    width: 100%;
    margin: 0 auto;
}

.faixa{
    background: #000;
}

.faixa div{
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

.faixa div div a{
    display: flex;
    align-items: center;
}

.faixa div div a:nth-child(1){
    margin-right: 50px;
}

.faixa div div a span{
    color: #e79924;
    margin-right: 3px;
}

.faixa div ul{
    display: flex;
}

.faixa div ul li{
    margin-right: 30px;
}